<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg</key>
	<dict>
		<key>path</key>
		<string>bg.png</string>
		<key>pos</key>
		<array>
			<real>-64.5</real>
			<real>-64.5</real>
		</array>
		<key>size</key>
		<array>
			<integer>128</integer>
			<integer>128</integer>
		</array>
	</dict>
	<key>bgOutline</key>
	<dict>
		<key>path</key>
		<string>bgOutline.png</string>
		<key>pos</key>
		<array>
			<real>-69.5</real>
			<real>-68.5</real>
		</array>
		<key>size</key>
		<array>
			<integer>137</integer>
			<integer>136</integer>
		</array>
	</dict>
	<key>bridge</key>
	<dict>
		<key>path</key>
		<string>bridge.png</string>
		<key>pos</key>
		<array>
			<real>-61.5</real>
			<real>-54.5</real>
		</array>
		<key>size</key>
		<array>
			<integer>121</integer>
			<integer>39</integer>
		</array>
	</dict>
	<key>bridgeOutline</key>
	<dict>
		<key>path</key>
		<string>bridgeOutline.png</string>
		<key>pos</key>
		<array>
			<real>-64.5</real>
			<real>-56.5</real>
		</array>
		<key>size</key>
		<array>
			<integer>127</integer>
			<integer>39</integer>
		</array>
	</dict>
	<key>ice</key>
	<dict>
		<key>all</key>
		<dict>
			<key>path</key>
			<string>ice_all.png</string>
			<key>pos</key>
			<array>
				<real>-79.5</real>
				<real>-80.5</real>
			</array>
			<key>size</key>
			<array>
				<integer>161</integer>
				<integer>163</integer>
			</array>
		</dict>
		<key>bridge</key>
		<dict>
			<key>path</key>
			<string>ice_bridge.png</string>
			<key>pos</key>
			<array>
				<real>-75.5</real>
				<real>-58.5</real>
			</array>
			<key>size</key>
			<array>
				<integer>152</integer>
				<integer>43</integer>
			</array>
		</dict>
	</dict>
	<key>mask</key>
	<dict>
		<key>badgeLeft</key>
		<dict>
			<key>mask</key>
			<dict>
				<key>path</key>
				<string>mask_badgeLeft_mask.png</string>
				<key>pos</key>
				<array>
					<real>-69.5</real>
					<real>-69.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>134</integer>
					<integer>135</integer>
				</array>
			</dict>
			<key>thumb</key>
			<dict>
				<key>path</key>
				<string>mask_badgeLeft_thumb.png</string>
				<key>pos</key>
				<array>
					<real>-65.5</real>
					<real>-67.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>130</integer>
					<integer>133</integer>
				</array>
			</dict>
		</dict>
		<key>badgeRight</key>
		<dict>
			<key>mask</key>
			<dict>
				<key>path</key>
				<string>mask_badgeRight_mask.png</string>
				<key>pos</key>
				<array>
					<real>-66.5</real>
					<real>-65.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>136</integer>
					<integer>132</integer>
				</array>
			</dict>
			<key>thumb</key>
			<dict>
				<key>path</key>
				<string>mask_badgeRight_thumb.png</string>
				<key>pos</key>
				<array>
					<real>-67.5</real>
					<real>-66.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>134</integer>
					<integer>132</integer>
				</array>
			</dict>
		</dict>
		<key>bottom</key>
		<dict>
			<key>path</key>
			<string>mask_bottom.png</string>
			<key>pos</key>
			<array>
				<real>-68.5</real>
				<real>12.5</real>
			</array>
			<key>size</key>
			<array>
				<integer>136</integer>
				<integer>55</integer>
			</array>
		</dict>
		<key>bowlBottom</key>
		<dict>
			<key>mask</key>
			<dict>
				<key>path</key>
				<string>mask_bowlBottom_mask.png</string>
				<key>pos</key>
				<array>
					<real>-69.5</real>
					<real>-68.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>137</integer>
					<integer>136</integer>
				</array>
			</dict>
			<key>thumb</key>
			<dict>
				<key>path</key>
				<string>mask_bowlBottom_thumb.png</string>
				<key>pos</key>
				<array>
					<real>-72.5</real>
					<real>-5.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>146</integer>
					<integer>79</integer>
				</array>
			</dict>
		</dict>
		<key>bowlTop</key>
		<dict>
			<key>mask</key>
			<dict>
				<key>path</key>
				<string>mask_bowlTop_mask.png</string>
				<key>pos</key>
				<array>
					<real>-69.5</real>
					<real>-68.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>137</integer>
					<integer>86</integer>
				</array>
			</dict>
			<key>thumb</key>
			<dict>
				<key>path</key>
				<string>mask_bowlTop_thumb.png</string>
				<key>pos</key>
				<array>
					<real>-66.5</real>
					<real>-107.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>134</integer>
					<integer>96</integer>
				</array>
			</dict>
		</dict>
		<key>cap</key>
		<dict>
			<key>mask</key>
			<dict>
				<key>path</key>
				<string>mask_cap_mask.png</string>
				<key>pos</key>
				<array>
					<real>-69.5</real>
					<real>-68.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>137</integer>
					<integer>89</integer>
				</array>
			</dict>
			<key>thumb</key>
			<dict>
				<key>path</key>
				<string>mask_cap_thumb.png</string>
				<key>pos</key>
				<array>
					<real>-79.5</real>
					<real>-79.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>159</integer>
					<integer>98</integer>
				</array>
			</dict>
		</dict>
		<key>dotAll</key>
		<dict>
			<key>mask</key>
			<dict>
				<key>path</key>
				<string>mask_dotAll_mask.png</string>
				<key>pos</key>
				<array>
					<real>-67.5</real>
					<real>-60.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>134</integer>
					<integer>125</integer>
				</array>
			</dict>
			<key>thumb</key>
			<dict>
				<key>path</key>
				<string>mask_dotAll_thumb.png</string>
				<key>pos</key>
				<array>
					<real>-76.5</real>
					<real>-106.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>150</integer>
					<integer>180</integer>
				</array>
			</dict>
		</dict>
		<key>dotBottom</key>
		<dict>
			<key>mask</key>
			<dict>
				<key>path</key>
				<string>mask_dotBottom_mask.png</string>
				<key>pos</key>
				<array>
					<real>-59.5</real>
					<real>29.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>118</integer>
					<integer>35</integer>
				</array>
			</dict>
			<key>thumb</key>
			<dict>
				<key>path</key>
				<string>mask_dotBottom_thumb.png</string>
				<key>pos</key>
				<array>
					<real>-67.5</real>
					<real>-104.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>135</integer>
					<integer>179</integer>
				</array>
			</dict>
		</dict>
		<key>dotMiddle</key>
		<dict>
			<key>mask</key>
			<dict>
				<key>path</key>
				<string>mask_dotMiddle_mask.png</string>
				<key>pos</key>
				<array>
					<real>-67.5</real>
					<real>-19.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>134</integer>
					<integer>41</integer>
				</array>
			</dict>
			<key>thumb</key>
			<dict>
				<key>path</key>
				<string>mask_dotMiddle_thumb.png</string>
				<key>pos</key>
				<array>
					<real>-76.5</real>
					<real>-102.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>152</integer>
					<integer>126</integer>
				</array>
			</dict>
		</dict>
		<key>dotTop</key>
		<dict>
			<key>mask</key>
			<dict>
				<key>path</key>
				<string>mask_dotTop_mask.png</string>
				<key>pos</key>
				<array>
					<real>-53.5</real>
					<real>-60.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>106</integer>
					<integer>35</integer>
				</array>
			</dict>
			<key>thumb</key>
			<dict>
				<key>path</key>
				<string>mask_dotTop_thumb.png</string>
				<key>pos</key>
				<array>
					<real>-55.5</real>
					<real>-103.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>111</integer>
					<integer>81</integer>
				</array>
			</dict>
		</dict>
		<key>eyeLeft</key>
		<dict>
			<key>mask</key>
			<dict>
				<key>path</key>
				<string>mask_eyeLeft_mask.png</string>
				<key>pos</key>
				<array>
					<real>7.5</real>
					<real>-14.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>40</integer>
					<integer>40</integer>
				</array>
			</dict>
			<key>thumb</key>
			<dict>
				<key>path</key>
				<string>mask_eyeLeft_thumb.png</string>
				<key>pos</key>
				<array>
					<real>-41.5</real>
					<real>-61.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>107</integer>
					<integer>99</integer>
				</array>
			</dict>
		</dict>
		<key>eyeRight</key>
		<dict>
			<key>mask</key>
			<dict>
				<key>path</key>
				<string>mask_eyeRight_mask.png</string>
				<key>pos</key>
				<array>
					<real>-47.5</real>
					<real>-14.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>40</integer>
					<integer>40</integer>
				</array>
			</dict>
			<key>thumb</key>
			<dict>
				<key>path</key>
				<string>mask_eyeRight_thumb.png</string>
				<key>pos</key>
				<array>
					<real>-59.5</real>
					<real>-63.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>98</integer>
					<integer>107</integer>
				</array>
			</dict>
		</dict>
		<key>mask</key>
		<dict>
			<key>bg copy</key>
			<dict>
				<key>path</key>
				<string>mask_mask_bg copy.png</string>
				<key>pos</key>
				<array>
					<real>-69.5</real>
					<real>-68.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>137</integer>
					<integer>136</integer>
				</array>
			</dict>
			<key>thumb</key>
			<dict>
				<key>path</key>
				<string>mask_mask_thumb.png</string>
				<key>pos</key>
				<array>
					<real>-69.5</real>
					<real>-69.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>138</integer>
					<integer>138</integer>
				</array>
			</dict>
		</dict>
		<key>net</key>
		<dict>
			<key>mask</key>
			<dict>
				<key>path</key>
				<string>mask_net_mask.png</string>
				<key>pos</key>
				<array>
					<real>-69.5</real>
					<real>-68.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>137</integer>
					<integer>136</integer>
				</array>
			</dict>
			<key>thumb</key>
			<dict>
				<key>path</key>
				<string>mask_net_thumb.png</string>
				<key>pos</key>
				<array>
					<real>-69.5</real>
					<real>-69.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>138</integer>
					<integer>138</integer>
				</array>
			</dict>
		</dict>
		<key>ringHorizontal</key>
		<dict>
			<key>mask</key>
			<dict>
				<key>path</key>
				<string>mask_ringHorizontal_mask.png</string>
				<key>pos</key>
				<array>
					<real>-67.5</real>
					<real>-27.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>136</integer>
					<integer>55</integer>
				</array>
			</dict>
			<key>thumb</key>
			<dict>
				<key>path</key>
				<string>mask_ringHorizontal_thumb.png</string>
				<key>pos</key>
				<array>
					<real>-76.5</real>
					<real>-33.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>152</integer>
					<integer>64</integer>
				</array>
			</dict>
		</dict>
		<key>ringVertical</key>
		<dict>
			<key>mask</key>
			<dict>
				<key>path</key>
				<string>mask_ringVertical_mask.png</string>
				<key>pos</key>
				<array>
					<real>-22.5</real>
					<real>-67.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>44</integer>
					<integer>136</integer>
				</array>
			</dict>
			<key>thumb</key>
			<dict>
				<key>path</key>
				<string>mask_ringVertical_thumb.png</string>
				<key>pos</key>
				<array>
					<real>-28.5</real>
					<real>-75.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>55</integer>
					<integer>152</integer>
				</array>
			</dict>
		</dict>
		<key>smallRingHorizontalBottom</key>
		<dict>
			<key>mask</key>
			<dict>
				<key>path</key>
				<string>mask_smallRingHorizontalBottom_mask.png</string>
				<key>pos</key>
				<array>
					<real>-67.5</real>
					<real>-2.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>136</integer>
					<integer>35</integer>
				</array>
			</dict>
			<key>thumb</key>
			<dict>
				<key>path</key>
				<string>mask_smallRingHorizontalBottom_thumb.png</string>
				<key>pos</key>
				<array>
					<real>-77.5</real>
					<real>-1.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>154</integer>
					<integer>39</integer>
				</array>
			</dict>
		</dict>
		<key>smallRingHorizontalTop</key>
		<dict>
			<key>mask copy</key>
			<dict>
				<key>path</key>
				<string>mask_smallRingHorizontalTop_mask copy.png</string>
				<key>pos</key>
				<array>
					<real>-67.5</real>
					<real>-27.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>136</integer>
					<integer>45</integer>
				</array>
			</dict>
			<key>thumb</key>
			<dict>
				<key>path</key>
				<string>mask_smallRingHorizontalTop_thumb.png</string>
				<key>pos</key>
				<array>
					<real>-78.5</real>
					<real>-27.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>155</integer>
					<integer>42</integer>
				</array>
			</dict>
		</dict>
		<key>sungrass</key>
		<dict>
			<key>mask</key>
			<dict>
				<key>path</key>
				<string>mask_sungrass_mask.png</string>
				<key>pos</key>
				<array>
					<real>-47.5</real>
					<real>-14.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>95</integer>
					<integer>40</integer>
				</array>
			</dict>
			<key>thumb</key>
			<dict>
				<key>path</key>
				<string>mask_sungrass_thumb.png</string>
				<key>pos</key>
				<array>
					<real>-53.5</real>
					<real>-18.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>106</integer>
					<integer>48</integer>
				</array>
			</dict>
		</dict>
	</dict>
	<key>mix</key>
	<dict>
		<key>0</key>
		<dict>
			<key>path</key>
			<string>mix_0.png</string>
			<key>pos</key>
			<array>
				<real>-74.5</real>
				<real>-76.5</real>
			</array>
			<key>size</key>
			<array>
				<integer>150</integer>
				<integer>148</integer>
			</array>
		</dict>
		<key>1</key>
		<dict>
			<key>path</key>
			<string>mix_1.png</string>
			<key>pos</key>
			<array>
				<real>-72.5</real>
				<real>-74.5</real>
			</array>
			<key>size</key>
			<array>
				<integer>150</integer>
				<integer>150</integer>
			</array>
		</dict>
		<key>2</key>
		<dict>
			<key>path</key>
			<string>mix_2.png</string>
			<key>pos</key>
			<array>
				<real>-81.5</real>
				<real>-76.5</real>
			</array>
			<key>size</key>
			<array>
				<integer>162</integer>
				<integer>153</integer>
			</array>
		</dict>
	</dict>
	<key>subTop</key>
	<dict>
		<key>brown</key>
		<dict>
			<key>center</key>
			<dict>
				<key>0</key>
				<dict>
					<key>path</key>
					<string>subTop_brown_center_0.png</string>
					<key>pos</key>
					<array>
						<real>-28.5</real>
						<real>-97.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>56</integer>
						<integer>40</integer>
					</array>
				</dict>
				<key>1</key>
				<dict>
					<key>path</key>
					<string>subTop_brown_center_1.png</string>
					<key>pos</key>
					<array>
						<real>-28.5</real>
						<real>-122.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>56</integer>
						<integer>40</integer>
					</array>
				</dict>
				<key>2</key>
				<dict>
					<key>path</key>
					<string>subTop_brown_center_2.png</string>
					<key>pos</key>
					<array>
						<real>-28.5</real>
						<real>-148.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>56</integer>
						<integer>40</integer>
					</array>
				</dict>
			</dict>
			<key>left</key>
			<dict>
				<key>0</key>
				<dict>
					<key>path</key>
					<string>subTop_brown_left_0.png</string>
					<key>pos</key>
					<array>
						<real>-80.5</real>
						<real>-75.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>54</integer>
						<integer>55</integer>
					</array>
				</dict>
				<key>1</key>
				<dict>
					<key>path</key>
					<string>subTop_brown_left_1.png</string>
					<key>pos</key>
					<array>
						<real>-98.5</real>
						<real>-93.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>54</integer>
						<integer>55</integer>
					</array>
				</dict>
				<key>2</key>
				<dict>
					<key>path</key>
					<string>subTop_brown_left_2.png</string>
					<key>pos</key>
					<array>
						<real>-117.5</real>
						<real>-112.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>54</integer>
						<integer>55</integer>
					</array>
				</dict>
			</dict>
			<key>right</key>
			<dict>
				<key>0</key>
				<dict>
					<key>path</key>
					<string>subTop_brown_right_0.png</string>
					<key>pos</key>
					<array>
						<real>26.5</real>
						<real>-75.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>53</integer>
						<integer>55</integer>
					</array>
				</dict>
				<key>1</key>
				<dict>
					<key>path</key>
					<string>subTop_brown_right_1.png</string>
					<key>pos</key>
					<array>
						<real>43.5</real>
						<real>-92.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>53</integer>
						<integer>55</integer>
					</array>
				</dict>
				<key>2</key>
				<dict>
					<key>path</key>
					<string>subTop_brown_right_2.png</string>
					<key>pos</key>
					<array>
						<real>61.5</real>
						<real>-110.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>53</integer>
						<integer>55</integer>
					</array>
				</dict>
			</dict>
		</dict>
		<key>candy</key>
		<dict>
			<key>center</key>
			<dict>
				<key>path</key>
				<string>subTop_candy_center.png</string>
				<key>pos</key>
				<array>
					<real>-25.5</real>
					<real>-100.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>55</integer>
					<integer>42</integer>
				</array>
			</dict>
			<key>left</key>
			<dict>
				<key>path</key>
				<string>subTop_candy_left.png</string>
				<key>pos</key>
				<array>
					<real>-83.5</real>
					<real>-78.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>56</integer>
					<integer>55</integer>
				</array>
			</dict>
			<key>right</key>
			<dict>
				<key>path</key>
				<string>subTop_candy_right.png</string>
				<key>pos</key>
				<array>
					<real>28.5</real>
					<real>-76.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>56</integer>
					<integer>54</integer>
				</array>
			</dict>
		</dict>
		<key>choco</key>
		<dict>
			<key>center</key>
			<dict>
				<key>path</key>
				<string>subTop_choco_center.png</string>
				<key>pos</key>
				<array>
					<real>-25.5</real>
					<real>-99.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>53</integer>
					<integer>41</integer>
				</array>
			</dict>
			<key>left</key>
			<dict>
				<key>path</key>
				<string>subTop_choco_left.png</string>
				<key>pos</key>
				<array>
					<real>-81.5</real>
					<real>-77.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>54</integer>
					<integer>55</integer>
				</array>
			</dict>
			<key>right</key>
			<dict>
				<key>path</key>
				<string>subTop_choco_right.png</string>
				<key>pos</key>
				<array>
					<real>28.5</real>
					<real>-76.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>54</integer>
					<integer>55</integer>
				</array>
			</dict>
		</dict>
		<key>green</key>
		<dict>
			<key>center</key>
			<dict>
				<key>0</key>
				<dict>
					<key>path</key>
					<string>subTop_green_center_0.png</string>
					<key>pos</key>
					<array>
						<real>-28.5</real>
						<real>-97.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>55</integer>
						<integer>40</integer>
					</array>
				</dict>
				<key>1</key>
				<dict>
					<key>path</key>
					<string>subTop_green_center_1.png</string>
					<key>pos</key>
					<array>
						<real>-28.5</real>
						<real>-122.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>55</integer>
						<integer>40</integer>
					</array>
				</dict>
				<key>2</key>
				<dict>
					<key>path</key>
					<string>subTop_green_center_2.png</string>
					<key>pos</key>
					<array>
						<real>-28.5</real>
						<real>-148.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>55</integer>
						<integer>40</integer>
					</array>
				</dict>
			</dict>
			<key>left</key>
			<dict>
				<key>0</key>
				<dict>
					<key>path</key>
					<string>subTop_green_left_0.png</string>
					<key>pos</key>
					<array>
						<real>-80.5</real>
						<real>-75.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>54</integer>
						<integer>55</integer>
					</array>
				</dict>
				<key>1</key>
				<dict>
					<key>path</key>
					<string>subTop_green_left_1.png</string>
					<key>pos</key>
					<array>
						<real>-98.5</real>
						<real>-93.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>54</integer>
						<integer>55</integer>
					</array>
				</dict>
				<key>2</key>
				<dict>
					<key>path</key>
					<string>subTop_green_left_2.png</string>
					<key>pos</key>
					<array>
						<real>-117.5</real>
						<real>-112.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>54</integer>
						<integer>55</integer>
					</array>
				</dict>
			</dict>
			<key>right</key>
			<dict>
				<key>0</key>
				<dict>
					<key>path</key>
					<string>subTop_green_right_0.png</string>
					<key>pos</key>
					<array>
						<real>26.5</real>
						<real>-75.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>52</integer>
						<integer>55</integer>
					</array>
				</dict>
				<key>1</key>
				<dict>
					<key>path</key>
					<string>subTop_green_right_1.png</string>
					<key>pos</key>
					<array>
						<real>43.5</real>
						<real>-92.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>52</integer>
						<integer>55</integer>
					</array>
				</dict>
				<key>2</key>
				<dict>
					<key>path</key>
					<string>subTop_green_right_2.png</string>
					<key>pos</key>
					<array>
						<real>61.5</real>
						<real>-110.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>52</integer>
						<integer>55</integer>
					</array>
				</dict>
			</dict>
		</dict>
		<key>ivory</key>
		<dict>
			<key>center</key>
			<dict>
				<key>0</key>
				<dict>
					<key>path</key>
					<string>subTop_ivory_center_0.png</string>
					<key>pos</key>
					<array>
						<real>-29.5</real>
						<real>-97.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>56</integer>
						<integer>40</integer>
					</array>
				</dict>
				<key>1</key>
				<dict>
					<key>path</key>
					<string>subTop_ivory_center_1.png</string>
					<key>pos</key>
					<array>
						<real>-29.5</real>
						<real>-122.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>56</integer>
						<integer>40</integer>
					</array>
				</dict>
				<key>2</key>
				<dict>
					<key>path</key>
					<string>subTop_ivory_center_2.png</string>
					<key>pos</key>
					<array>
						<real>-29.5</real>
						<real>-148.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>56</integer>
						<integer>40</integer>
					</array>
				</dict>
			</dict>
			<key>left</key>
			<dict>
				<key>0</key>
				<dict>
					<key>path</key>
					<string>subTop_ivory_left_0.png</string>
					<key>pos</key>
					<array>
						<real>-79.5</real>
						<real>-75.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>53</integer>
						<integer>55</integer>
					</array>
				</dict>
				<key>1</key>
				<dict>
					<key>path</key>
					<string>subTop_ivory_left_1.png</string>
					<key>pos</key>
					<array>
						<real>-97.5</real>
						<real>-92.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>53</integer>
						<integer>55</integer>
					</array>
				</dict>
				<key>2</key>
				<dict>
					<key>path</key>
					<string>subTop_ivory_left_2.png</string>
					<key>pos</key>
					<array>
						<real>-117.5</real>
						<real>-112.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>53</integer>
						<integer>55</integer>
					</array>
				</dict>
			</dict>
			<key>right</key>
			<dict>
				<key>0</key>
				<dict>
					<key>path</key>
					<string>subTop_ivory_right_0.png</string>
					<key>pos</key>
					<array>
						<real>26.5</real>
						<real>-75.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>53</integer>
						<integer>55</integer>
					</array>
				</dict>
				<key>1</key>
				<dict>
					<key>path</key>
					<string>subTop_ivory_right_1.png</string>
					<key>pos</key>
					<array>
						<real>43.5</real>
						<real>-91.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>53</integer>
						<integer>55</integer>
					</array>
				</dict>
				<key>2</key>
				<dict>
					<key>path</key>
					<string>subTop_ivory_right_2.png</string>
					<key>pos</key>
					<array>
						<real>61.5</real>
						<real>-109.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>53</integer>
						<integer>55</integer>
					</array>
				</dict>
			</dict>
		</dict>
		<key>mnm</key>
		<dict>
			<key>center</key>
			<dict>
				<key>path</key>
				<string>subTop_mnm_center.png</string>
				<key>pos</key>
				<array>
					<real>-26.5</real>
					<real>-100.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>54</integer>
					<integer>41</integer>
				</array>
			</dict>
			<key>left</key>
			<dict>
				<key>path</key>
				<string>subTop_mnm_left.png</string>
				<key>pos</key>
				<array>
					<real>-81.5</real>
					<real>-77.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>52</integer>
					<integer>54</integer>
				</array>
			</dict>
			<key>right</key>
			<dict>
				<key>path</key>
				<string>subTop_mnm_right.png</string>
				<key>pos</key>
				<array>
					<real>29.5</real>
					<real>-75.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>52</integer>
					<integer>54</integer>
				</array>
			</dict>
		</dict>
		<key>pink</key>
		<dict>
			<key>center</key>
			<dict>
				<key>0</key>
				<dict>
					<key>path</key>
					<string>subTop_pink_center_0.png</string>
					<key>pos</key>
					<array>
						<real>-28.5</real>
						<real>-98.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>55</integer>
						<integer>40</integer>
					</array>
				</dict>
				<key>1</key>
				<dict>
					<key>path</key>
					<string>subTop_pink_center_1.png</string>
					<key>pos</key>
					<array>
						<real>-28.5</real>
						<real>-122.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>55</integer>
						<integer>40</integer>
					</array>
				</dict>
				<key>2</key>
				<dict>
					<key>path</key>
					<string>subTop_pink_center_2.png</string>
					<key>pos</key>
					<array>
						<real>-28.5</real>
						<real>-148.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>55</integer>
						<integer>40</integer>
					</array>
				</dict>
			</dict>
			<key>left</key>
			<dict>
				<key>0</key>
				<dict>
					<key>path</key>
					<string>subTop_pink_left_0.png</string>
					<key>pos</key>
					<array>
						<real>-80.5</real>
						<real>-76.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>53</integer>
						<integer>55</integer>
					</array>
				</dict>
				<key>1</key>
				<dict>
					<key>path</key>
					<string>subTop_pink_left_1.png</string>
					<key>pos</key>
					<array>
						<real>-98.5</real>
						<real>-94.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>53</integer>
						<integer>55</integer>
					</array>
				</dict>
				<key>2</key>
				<dict>
					<key>path</key>
					<string>subTop_pink_left_2.png</string>
					<key>pos</key>
					<array>
						<real>-117.5</real>
						<real>-113.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>53</integer>
						<integer>55</integer>
					</array>
				</dict>
			</dict>
			<key>right</key>
			<dict>
				<key>0</key>
				<dict>
					<key>path</key>
					<string>subTop_pink_right_0.png</string>
					<key>pos</key>
					<array>
						<real>27.5</real>
						<real>-75.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>53</integer>
						<integer>55</integer>
					</array>
				</dict>
				<key>1</key>
				<dict>
					<key>path</key>
					<string>subTop_pink_right_1.png</string>
					<key>pos</key>
					<array>
						<real>44.5</real>
						<real>-92.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>53</integer>
						<integer>55</integer>
					</array>
				</dict>
				<key>2</key>
				<dict>
					<key>path</key>
					<string>subTop_pink_right_2.png</string>
					<key>pos</key>
					<array>
						<real>62.5</real>
						<real>-110.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>53</integer>
						<integer>55</integer>
					</array>
				</dict>
			</dict>
		</dict>
		<key>snow</key>
		<dict>
			<key>center</key>
			<dict>
				<key>path</key>
				<string>subTop_snow_center.png</string>
				<key>pos</key>
				<array>
					<real>-27.5</real>
					<real>-100.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>54</integer>
					<integer>41</integer>
				</array>
			</dict>
			<key>left</key>
			<dict>
				<key>path</key>
				<string>subTop_snow_left.png</string>
				<key>pos</key>
				<array>
					<real>-81.5</real>
					<real>-76.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>52</integer>
					<integer>54</integer>
				</array>
			</dict>
			<key>right</key>
			<dict>
				<key>path</key>
				<string>subTop_snow_right.png</string>
				<key>pos</key>
				<array>
					<real>29.5</real>
					<real>-75.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>52</integer>
					<integer>54</integer>
				</array>
			</dict>
		</dict>
		<key>star</key>
		<dict>
			<key>center</key>
			<dict>
				<key>path</key>
				<string>subTop_star_center.png</string>
				<key>pos</key>
				<array>
					<real>-27.5</real>
					<real>-102.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>56</integer>
					<integer>43</integer>
				</array>
			</dict>
			<key>left</key>
			<dict>
				<key>path</key>
				<string>subTop_star_left.png</string>
				<key>pos</key>
				<array>
					<real>-84.5</real>
					<real>-78.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>58</integer>
					<integer>56</integer>
				</array>
			</dict>
			<key>right</key>
			<dict>
				<key>path</key>
				<string>subTop_star_right.png</string>
				<key>pos</key>
				<array>
					<real>26.5</real>
					<real>-78.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>58</integer>
					<integer>56</integer>
				</array>
			</dict>
		</dict>
		<key>storm</key>
		<dict>
			<key>center</key>
			<dict>
				<key>path</key>
				<string>subTop_storm_center.png</string>
				<key>pos</key>
				<array>
					<real>-27.5</real>
					<real>-102.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>55</integer>
					<integer>43</integer>
				</array>
			</dict>
			<key>left</key>
			<dict>
				<key>path</key>
				<string>subTop_storm_left.png</string>
				<key>pos</key>
				<array>
					<real>-84.5</real>
					<real>-78.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>56</integer>
					<integer>57</integer>
				</array>
			</dict>
			<key>right</key>
			<dict>
				<key>path</key>
				<string>subTop_storm_right.png</string>
				<key>pos</key>
				<array>
					<real>29.5</real>
					<real>-77.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>55</integer>
					<integer>57</integer>
				</array>
			</dict>
		</dict>
		<key>tree</key>
		<dict>
			<key>center</key>
			<dict>
				<key>path</key>
				<string>subTop_tree_center.png</string>
				<key>pos</key>
				<array>
					<real>-26.5</real>
					<real>-100.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>54</integer>
					<integer>41</integer>
				</array>
			</dict>
			<key>left</key>
			<dict>
				<key>path</key>
				<string>subTop_tree_left.png</string>
				<key>pos</key>
				<array>
					<real>-81.5</real>
					<real>-76.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>53</integer>
					<integer>53</integer>
				</array>
			</dict>
			<key>right</key>
			<dict>
				<key>path</key>
				<string>subTop_tree_right.png</string>
				<key>pos</key>
				<array>
					<real>28.5</real>
					<real>-76.5</real>
				</array>
				<key>size</key>
				<array>
					<integer>53</integer>
					<integer>53</integer>
				</array>
			</dict>
		</dict>
	</dict>
	<key>topping</key>
	<dict>
		<key>cherry</key>
		<dict>
			<key>path</key>
			<string>topping_cherry.png</string>
			<key>pos</key>
			<array>
				<real>-32.5</real>
				<real>-125.5</real>
			</array>
			<key>size</key>
			<array>
				<integer>76</integer>
				<integer>78</integer>
			</array>
		</dict>
		<key>cream</key>
		<dict>
			<key>path</key>
			<string>topping_cream.png</string>
			<key>pos</key>
			<array>
				<real>-44.5</real>
				<real>-118.5</real>
			</array>
			<key>size</key>
			<array>
				<integer>87</integer>
				<integer>78</integer>
			</array>
		</dict>
		<key>cream_cherry</key>
		<dict>
			<key>path</key>
			<string>topping_cream_cherry.png</string>
			<key>pos</key>
			<array>
				<real>-48.5</real>
				<real>-150.5</real>
			</array>
			<key>size</key>
			<array>
				<integer>97</integer>
				<integer>110</integer>
			</array>
		</dict>
		<key>flow</key>
		<dict>
			<key>berrySpuit</key>
			<dict>
				<key>0</key>
				<dict>
					<key>path</key>
					<string>topping_flow_berrySpuit_0.png</string>
					<key>pos</key>
					<array>
						<real>-29.5</real>
						<real>1.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>8</integer>
						<integer>8</integer>
					</array>
				</dict>
				<key>1</key>
				<dict>
					<key>path</key>
					<string>topping_flow_berrySpuit_1.png</string>
					<key>pos</key>
					<array>
						<real>21.5</real>
						<real>1.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>8</integer>
						<integer>8</integer>
					</array>
				</dict>
				<key>2</key>
				<dict>
					<key>path</key>
					<string>topping_flow_berrySpuit_2.png</string>
					<key>pos</key>
					<array>
						<real>-32.5</real>
						<real>-1.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>14</integer>
						<integer>14</integer>
					</array>
				</dict>
				<key>3</key>
				<dict>
					<key>path</key>
					<string>topping_flow_berrySpuit_3.png</string>
					<key>pos</key>
					<array>
						<real>18.5</real>
						<real>-1.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>14</integer>
						<integer>14</integer>
					</array>
				</dict>
				<key>4</key>
				<dict>
					<key>path</key>
					<string>topping_flow_berrySpuit_4.png</string>
					<key>pos</key>
					<array>
						<real>-35.5</real>
						<real>-4.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>20</integer>
						<integer>20</integer>
					</array>
				</dict>
				<key>5</key>
				<dict>
					<key>path</key>
					<string>topping_flow_berrySpuit_5.png</string>
					<key>pos</key>
					<array>
						<real>15.5</real>
						<real>-4.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>20</integer>
						<integer>20</integer>
					</array>
				</dict>
			</dict>
			<key>candy</key>
			<dict>
				<key>0</key>
				<dict>
					<key>path</key>
					<string>topping_flow_candy_0.png</string>
					<key>pos</key>
					<array>
						<real>-55.5</real>
						<real>-58.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>105</integer>
						<integer>47</integer>
					</array>
				</dict>
				<key>1</key>
				<dict>
					<key>path</key>
					<string>topping_flow_candy_1.png</string>
					<key>pos</key>
					<array>
						<real>-57.5</real>
						<real>-66.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>119</integer>
						<integer>79</integer>
					</array>
				</dict>
				<key>2</key>
				<dict>
					<key>path</key>
					<string>topping_flow_candy_2.png</string>
					<key>pos</key>
					<array>
						<real>-61.5</real>
						<real>-66.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>123</integer>
						<integer>71</integer>
					</array>
				</dict>
			</dict>
			<key>choco</key>
			<dict>
				<key>0</key>
				<dict>
					<key>path</key>
					<string>topping_flow_choco_0.png</string>
					<key>pos</key>
					<array>
						<real>-52.5</real>
						<real>-68.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>111</integer>
						<integer>58</integer>
					</array>
				</dict>
				<key>1</key>
				<dict>
					<key>path</key>
					<string>topping_flow_choco_1.png</string>
					<key>pos</key>
					<array>
						<real>-53.5</real>
						<real>-60.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>117</integer>
						<integer>58</integer>
					</array>
				</dict>
				<key>2</key>
				<dict>
					<key>path</key>
					<string>topping_flow_choco_2.png</string>
					<key>pos</key>
					<array>
						<real>-61.5</real>
						<real>-63.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>125</integer>
						<integer>61</integer>
					</array>
				</dict>
			</dict>
			<key>chocoSpuit</key>
			<dict>
				<key>0</key>
				<dict>
					<key>path</key>
					<string>topping_flow_chocoSpuit_0.png</string>
					<key>pos</key>
					<array>
						<real>-29.5</real>
						<real>1.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>8</integer>
						<integer>8</integer>
					</array>
				</dict>
				<key>1</key>
				<dict>
					<key>path</key>
					<string>topping_flow_chocoSpuit_1.png</string>
					<key>pos</key>
					<array>
						<real>21.5</real>
						<real>1.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>8</integer>
						<integer>8</integer>
					</array>
				</dict>
				<key>2</key>
				<dict>
					<key>path</key>
					<string>topping_flow_chocoSpuit_2.png</string>
					<key>pos</key>
					<array>
						<real>-32.5</real>
						<real>-1.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>14</integer>
						<integer>14</integer>
					</array>
				</dict>
				<key>3</key>
				<dict>
					<key>path</key>
					<string>topping_flow_chocoSpuit_3.png</string>
					<key>pos</key>
					<array>
						<real>18.5</real>
						<real>-1.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>14</integer>
						<integer>14</integer>
					</array>
				</dict>
				<key>4</key>
				<dict>
					<key>path</key>
					<string>topping_flow_chocoSpuit_4.png</string>
					<key>pos</key>
					<array>
						<real>-35.5</real>
						<real>-4.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>20</integer>
						<integer>20</integer>
					</array>
				</dict>
				<key>5</key>
				<dict>
					<key>path</key>
					<string>topping_flow_chocoSpuit_5.png</string>
					<key>pos</key>
					<array>
						<real>15.5</real>
						<real>-4.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>20</integer>
						<integer>20</integer>
					</array>
				</dict>
			</dict>
			<key>greenSpuit</key>
			<dict>
				<key>0</key>
				<dict>
					<key>path</key>
					<string>topping_flow_greenSpuit_0.png</string>
					<key>pos</key>
					<array>
						<real>-29.5</real>
						<real>1.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>8</integer>
						<integer>8</integer>
					</array>
				</dict>
				<key>1</key>
				<dict>
					<key>path</key>
					<string>topping_flow_greenSpuit_1.png</string>
					<key>pos</key>
					<array>
						<real>21.5</real>
						<real>1.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>8</integer>
						<integer>8</integer>
					</array>
				</dict>
				<key>2</key>
				<dict>
					<key>path</key>
					<string>topping_flow_greenSpuit_2.png</string>
					<key>pos</key>
					<array>
						<real>-32.5</real>
						<real>-1.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>14</integer>
						<integer>14</integer>
					</array>
				</dict>
				<key>3</key>
				<dict>
					<key>path</key>
					<string>topping_flow_greenSpuit_3.png</string>
					<key>pos</key>
					<array>
						<real>18.5</real>
						<real>-1.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>14</integer>
						<integer>14</integer>
					</array>
				</dict>
				<key>4</key>
				<dict>
					<key>path</key>
					<string>topping_flow_greenSpuit_4.png</string>
					<key>pos</key>
					<array>
						<real>-35.5</real>
						<real>-4.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>20</integer>
						<integer>20</integer>
					</array>
				</dict>
				<key>5</key>
				<dict>
					<key>path</key>
					<string>topping_flow_greenSpuit_5.png</string>
					<key>pos</key>
					<array>
						<real>15.5</real>
						<real>-4.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>20</integer>
						<integer>20</integer>
					</array>
				</dict>
			</dict>
			<key>nut</key>
			<dict>
				<key>0</key>
				<dict>
					<key>path</key>
					<string>topping_flow_nut_0.png</string>
					<key>pos</key>
					<array>
						<real>-59.5</real>
						<real>-69.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>119</integer>
						<integer>71</integer>
					</array>
				</dict>
				<key>1</key>
				<dict>
					<key>path</key>
					<string>topping_flow_nut_1.png</string>
					<key>pos</key>
					<array>
						<real>-63.5</real>
						<real>-69.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>124</integer>
						<integer>71</integer>
					</array>
				</dict>
				<key>2</key>
				<dict>
					<key>path</key>
					<string>topping_flow_nut_2.png</string>
					<key>pos</key>
					<array>
						<real>-63.5</real>
						<real>-70.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>124</integer>
						<integer>72</integer>
					</array>
				</dict>
			</dict>
			<key>vanillaSpuit</key>
			<dict>
				<key>0</key>
				<dict>
					<key>path</key>
					<string>topping_flow_vanillaSpuit_0.png</string>
					<key>pos</key>
					<array>
						<real>-29.5</real>
						<real>1.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>8</integer>
						<integer>8</integer>
					</array>
				</dict>
				<key>1</key>
				<dict>
					<key>path</key>
					<string>topping_flow_vanillaSpuit_1.png</string>
					<key>pos</key>
					<array>
						<real>21.5</real>
						<real>1.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>8</integer>
						<integer>8</integer>
					</array>
				</dict>
				<key>2</key>
				<dict>
					<key>path</key>
					<string>topping_flow_vanillaSpuit_2.png</string>
					<key>pos</key>
					<array>
						<real>-32.5</real>
						<real>-1.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>14</integer>
						<integer>14</integer>
					</array>
				</dict>
				<key>3</key>
				<dict>
					<key>path</key>
					<string>topping_flow_vanillaSpuit_3.png</string>
					<key>pos</key>
					<array>
						<real>18.5</real>
						<real>-1.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>14</integer>
						<integer>14</integer>
					</array>
				</dict>
				<key>4</key>
				<dict>
					<key>path</key>
					<string>topping_flow_vanillaSpuit_4.png</string>
					<key>pos</key>
					<array>
						<real>-35.5</real>
						<real>-4.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>20</integer>
						<integer>20</integer>
					</array>
				</dict>
				<key>5</key>
				<dict>
					<key>path</key>
					<string>topping_flow_vanillaSpuit_5.png</string>
					<key>pos</key>
					<array>
						<real>15.5</real>
						<real>-4.5</real>
					</array>
					<key>size</key>
					<array>
						<integer>20</integer>
						<integer>20</integer>
					</array>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
